{
  "presets": [
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers",
    "inline-package-json",
    "transform-inline-environment-variables",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}